@use "variables";
@use "ress";

@use "@fontsource/varela-round/latin.css";
@use "wenk/dist/wenk" with (
  $wenk-bg-color: #333333
);

html, body {
  font-family: "Varela Round", Arial, sans-serif;
  background-color: var(--body-background-color);
  color: var(--body-text-color);
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
  overflow: hidden;
}

#__nuxt {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  overflow: hidden;
}

main {
  flex: 1 0;

  width: 100%;
  overflow-y: auto;
}

a {
  color: var(--link-color);
  text-decoration: var(--link-decoration);

  &:hover {
    color: var(--link-hover-color);
    text-decoration: var(--link-hover-decoration);
  }
}

h1 {
  font-size: 1.75rem;
  line-height: 1.75rem;
  font-weight: bold;
}

p {
  font-size: 1.25rem;
  line-height: 1.25rem;

  a {
    border-bottom: 1px dotted #c33131;
  }
}

[data-wenk] {
  &:after {
    padding: 5px 9px;
  }

  &:hover {
    &:after {
      transform: translate(-50%, -2px);
    }
  }
}
