head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title= htmlWebpackPlugin.options.title

    if !locals.is404
        //- Primary Meta Tags
        meta(name='title', content='Rui Pereira')
        meta(name='description', content='Back-End/Software Developer')

        //- Open Graph
        meta(property='og:type', content='website')
        meta(property='og:url', content='https://ruipereira.dev')
        meta(property='og:title', content='Rui Pereira')
        meta(property='og:description', content='Back-End/Software Developer')
        meta(property='og:image', content='https://ruipereira.dev/assets/img/avatar.png')

        //- Twitter
        meta(property='twitter:card', content='summary')
        meta(property='twitter:title', content='Rui Pereira')
        meta(property='twitter:description', content='Back-End/Software Developer')
        meta(property='twitter:image', content='https://ruipereira.dev/assets/img/avatar.png')
    else
        meta(name='robots' content='noindex, nofollow')

    //- Favicons
    link(rel='shortcut icon' href='/assets/img/favicon.ico' type='image/x-icon')
    link(rel='icon' href='/assets/img/favicon.ico' type='image/x-icon')

    //- Stylesheets
    link(rel='stylesheet', href='/assets/css/main.min.css')
