@use "variables";
@use "mixins";

@use "@fontsource/varela-round/latin.css";

@use "ress";
@use "base";
@use "wenk";


/*
h1 {
  font-size: 1.75rem;
  line-height: 1.75rem;
  font-weight: bold;
}

p {
  font-size: 1.25rem;
  line-height: 1.25rem;

  a {
    border-bottom: 1px dotted #c33131;
  }
}*/
